<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>key</key>
		<string>[微笑]</string>
		<key>picture</key>
		<string>emojo_weixiao.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>[大笑]</string>
		<key>picture</key>
		<string>emojo_daxiao.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>[呲牙]</string>
		<key>picture</key>
		<string>emojo_chiya.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>[呆]</string>
		<key>picture</key>
		<string>emojo_dai.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>[喜欢]</string>
		<key>picture</key>
		<string>emojo_xihuan.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>[哭]</string>
		<key>picture</key>
		<string>emojo_ku.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>[喵]</string>
		<key>picture</key>
		<string>emojo_miao.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>[哼]</string>
		<key>picture</key>
		<string>emojo_hen.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>[皮蛋]</string>
		<key>picture</key>
		<string>emojo_pidan.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>[骷髅]</string>
		<key>picture</key>
		<string>emojo_kulou.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>[萌]</string>
		<key>picture</key>
		<string>emojo_meng.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>[吃]</string>
		<key>picture</key>
		<string>emojo_chi.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>[呃]</string>
		<key>picture</key>
		<string>emojo_e.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>[闭嘴]</string>
		<key>picture</key>
		<string>emojo_bizui.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>[汗]</string>
		<key>picture</key>
		<string>emojo_han.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>[鬼脸]</string>
		<key>picture</key>
		<string>emojo_guilian.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>[帅]</string>
		<key>picture</key>
		<string>emojo_shuai.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>[囧]</string>
		<key>picture</key>
		<string>emojo_jiong.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>[怒]</string>
		<key>picture</key>
		<string>emojo_nu.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>[吐]</string>
		<key>picture</key>
		<string>emojo_tu.png</string>
	</dict>
	<dict>
		<key>key</key>
		<string>[海盗]</string>
		<key>picture</key>
		<string>emojo_haidao.png</string>
	</dict>
</array>
</plist>
